html,
body {
  background: rgb(4, 0, 13);
  box-sizing: border-bx;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.container {
  opacity: 1;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 5fr 20fr 20fr 70fr 5fr;
  grid-template-areas: "header header header header"
    "g file file aside"
    " r main main aside"
    "l main main aside"
    "footer footer footer footer"

}



header {


  grid-area: header;
}

footer {

  grid-area: footer;

}

aside{

  grid-area: aside;
  justify-self: end;
  align-self: center;
}

main{

  grid-area: main;
  background: #D9D9D9;
  border-radius: 4px;
  opacity: 0.1;
}

button {
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  margin-block: 5px;
  margin-inline: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 25%;
  min-width: 180px;
  cursor: pointer;
  

}

button:hover {
  background-color: #49aed0;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#input-file {

  grid-area: file;
 
  justify-self: start;
  align-self: center;
  opacity: 1;
  margin-block: 5px;

}

.custom-file-input {
  background-color: #008CBA;
  border-radius: 4px;
  width: 231px;
}

.custom-file-input:hover {
  background: #49aed0;
 
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Escolher arquivo  (.csv)';
  display: none;
 
  
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


#tabela_aqui {
  max-height: 300;
  overflow-y: scroll;
}