html,
body {
  
  box-sizing: border-bx;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.container {
  opacity: 1;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15fr 1fr;
  grid-template-areas: "header"
                        "main"
                        "footer"
}



header {
  grid-area: header;
  background-color: blue;

}

footer {
  grid-area: footer;
  background-color: #008CBA;
}

main{
  
  grid-area: main;
  border-radius: 4px;
  justify-self:center;
  align-self:center;
  grid-template-columns: repeat(auto-fit, minmax(225px, 400px));

}


#input-box{
  min-width: 400px;
  border: 1px solid #008bbaec;
  border-radius: 4px;
  grid-template-columns: repeat(auto-fit, minmax(225px, 400px));
    text-align: center;
    justify-content: center;
    grid-row-gap: 1em;
}

.custom-file-input {
  margin-top: 5%;
  background-color: #008CBA;
  border-radius: 4px;
  

}
.custom-file-input:hover {
  background: #49aed0;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Escolher arquivo  (.csv)';
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8vmax;
  cursor: pointer;
  width: 100%;
   
}
#text{
  margin-block: 5%;
}